*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background: url(./bg_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: 60px;
    background:blue ;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.logo {
   display: flex;
   flex-direction: row;
   margin-left: 20px;
   float: left;
   align-items: center;
   height: 60px;
   width: 200px;
}

.plane{
    color: gold;
    font-size: 30px;
}
.T{
    margin-left: 10px;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
}
.menu {
    height: 60px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content:end;
}
.menu ul {
    display: flex;
    flex-direction: row;
    
  
    list-style: none;
}
.menu ul li {
    margin-left: 40px;
}

.menu ul li a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}
.content {
    width: 100%;
    height: 80vh;
   
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data h1{
    color: gold;
    text-align: center;
    font-size: 70px;
}
.data p {
    color: aliceblue;
    text-align: center;
}

.box {
    width: 100%;
    display: grid;
    grid-template-columns: 330px 330px 330px; 
    gap: 20px;  
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.box1{
    width: 300px;
    height: 150px;
   border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 10px;
    background-color: gold; 
    transition: ease 0.4s;
    cursor: pointer;
}
.box1:hover{
    background-color: #fff;
   transform: translatey(-10px);
}

.box h2{
    text-align: center;
    margin-bottom: 5px;
}
.booknow {
    font-size: 40px;
}
.box p{
    text-align: center;
    margin-left: 5px;
}
